.root {
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.data-table .table-cell:invalid-table-cell .text-field {
    -fx-focus-color: red;
    -fx-control-inner-background: #ffc0c0;
    -fx-accent: red;
}

.table-cell:readonly-table-cell {
    -fx-background-color: #dedede;
}

.data-table .table-cell {
    -fx-alignment: CENTER;
}

.table-cell {
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

.data-table .table-cell:manufacturer-block-table-cell {
    -fx-background-color: #f7ffb8;
}

/* disable highlighting of the selected row */
.data-table .table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.data-table .table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}

.cbits.choice-box {
    -fx-font-family: monospace;
}

.write-button {
    -fx-background-image: url("img/mail-receive.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 4px 50%;
}

.read-button {
    -fx-background-image: url("img/mail-folder-outbox.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 4px 50%;
}

.permWarningText {
    -fx-background-image: url("img/dialog-warning.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 4px 50%;
    -fx-padding: 0 0 0 42px;

    -fx-text-fill: red;
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

